/*
@gwc-navy: #01426A;
@gwc-teal: #6ECEB2;
@gwc-pink: #F4364C;
@gwc-yellow: #ECE81A;
*/

body {
  font-family: 'Raleway', sans-serif;
  color: #555555;
  margin: 0; 
  padding: 0; 
  
}

h1 {
  color: #01426A;
  text-align: center;
  padding-top: 150px;  
}

h2 {
  color: #01426A;
  padding-top: 25px;
  padding-bottom: 15px;  
}

h1 {
  font-weight: bold;
  padding-top: 25px; 
  padding-bottom: 15px; 
}

h3 {
  color: #F4364C; 
  padding-top: 15px; 
  padding-bottom: 15px; 
}

table, th, td {
  border: 2px solid #F4364C;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  font-weight: bold;
}

details {
  padding: 20px;
  border: 1px solid #6ECEB2;
}

.expanded {
  padding: 15px;
}


.center {
  text-align: center;
}


.span13{
    width:59.8198%;
    float:left; 
}

.contents{ 
    padding-top:10px; 
} 

#headerBar {
    height: 100px;
    background: #01426A
}
